<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
    <bean id="contextAware" class="assignment.q10.SpringCoreAssignment.ContextAwareExample">
        <property name="place" value="Heaven"/>
        <property name="demo" ref="Demo"/>
    </bean>
    <bean id="contextAware1" class="assignment.q10.SpringCoreAssignment.ContextAwareExample">
        <property name="place" value="Hell"/>
        <property name="demo" ref="Demo"/>
    </bean>

    <bean id="Demo" class="assignment.q10.SpringCoreAssignment.Demo" scope="prototype">
        <property name="x" value="99"/>
        <property name="y" value="101"/>
    </bean>
</beans>