<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="LifeCycle" class="assignment.q9.SpringCoreAssignment.BeanLifeCycle">
        <property name="id" value="75"/>
        <property name="name" value="Sherlock"/>
    </bean>
    <bean id="LifeCycle1" class="assignment.q9.SpringCoreAssignment.BeanLifeCycle">
        <property name="id" value="32"/>
        <property name="name" value="Dr.Watson"/>
    </bean>
</beans>